/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
.main-scroll::-webkit-scrollbar {
  width: 0.1rem;
}

.main-scroll::-webkit-scrollbar-track {
  background: white;
}

.main-scroll::-webkit-scrollbar-thumb {
  background: #c7c7c7;
}
